
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-------------------------------------------------------------*/

body{
	height: 100%;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}

.button {
	display: flex;
	align-items: center;
	background: #fff;
	width: 143px;
	height: 42px;
	border-radius: 15px / 15px;
	margin: 13px 0 30px 30px;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*-------------------------------------------------HEADER*/

.header {
	width: 100%;
	left: 0;
	top: 0;
	background: #181818;
}

.header__container {
	display: flex;
	min-height: 90px;
	align-items: center;
}

.header__logo {
	padding: 0 0 0 32px;
}

.header__menu {
	margin: 0 0 0 340px;
}

.menu {
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__item:not(:last-child) {
	margin: 0 33px 0 0;
}

.menu__link {
	font-size: 15px;
	line-height: calc(20 / 15 * 100%);
	color: #FFFFFF;
}

.bisiness {
	font-size: 13px;
}

.header-button{
	display: inline-block;
	padding: 9px 20px 9px 20px;
	height: 42px;
	background: #FFFFFF;
	border-radius: 14px;
	font-size: 16px;
	line-height: calc(20 / 16 * 100%);
	letter-spacing: 0.4px;
	color: #000000;
	margin-right: 20px;
}

/* -------------------------------------------------------------- */
.page {}

.block__aperture {}

.block__activity {}

.block__mount-fuji {}

.block-tools {}

.block__past-clients {}

.block__himalayas {}

/* ---------------------------------------------------APPERTURE--*/
.aperture {
	background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%), url(../img/aperture/block-aperture.jpg) no-repeat center;
	background-size: cover;
}

.aperture__body {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 15px;
	padding-top: 446px;
}

.aperture__subtitle {
	line-height: calc(20 / 14 * 100%);
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C0C0C0;
	margin: 20px 0 1px 0;
}

.aperture__title {
	font-size: 54px;
	line-height: calc(59 / 54 * 100%);
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 18px 0;
}

.aperture__text {
	line-height: calc(20 / 14 * 100%);
	text-align: center;
	color: #C0C0C0;
	margin: 0 0 10px 0;
}

.aperture__icons {
	display: flex;
	justify-content: end;
	padding: 0 20px 40px 0;
}

.aperture__icon {
	margin: 0 6px 0 0;
}

.aperture__icon-text {
	font-size: 12px;
	line-height: calc(12 / 12 * 100%);
	color: #FFFFFF;
	margin: 0 16px 0 0;
}

.aperture__image {}

/* ---------------------------------------------------ACTIVITI-*/
.activity {
	background: #000000;
}

.activity__body {
	padding: 260px 20px 216px 0;
}

.activity__title {
	font-size: 40px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	margin: 0 0 15px 0;
}

.activity__subtitle {
	font-size: 23px;
	line-height: 30px;
	text-align: center;
	color: #C0C0C0;
}

.activity__cards {
}

.card {
}

.card__photography{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 8px 92px 8px;
	margin: -8px 0 0 0;
}

.card__pic {
	position: relative;
	padding: 8px;
}

.card__pic img{
	max-width: 100%;
	height: auto;
}

.card__body {
	position: absolute;
	width: 500px;
	left: 30px;
	bottom: 10px;
}

.card__title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.card__text {
	font-size: 14px;
	line-height: 20px;
	color: #C0C0C0;
	margin-bottom: 10px;
}

.card__button {
	display: flex;
   align-items: center;
	background: #fff;
	width: 143px;
	height: 42px;
	border-radius:  15px /  15px;
	margin: 13px 0 30px 0px;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__button-text{
	padding: 7px 10px 13px 3px;
}

.card__button-circle{
	border-radius: 13px;
	background: black;
	width: 32px;
	height: 32px;
	margin: 5px;
	border: 1px solid #000000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* -------------------------------------------------------------FUJI */
.mount-fuji {
	background: url(../img/fuji/Mount\ Fuji.jpg) no-repeat center;
	background-size: cover;
}

.mount-fuji__body {
	max-width: 300px;
	padding: 260px 20px 216px 0;
	margin-left: auto;
}

.mount-fuji__title {
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.mount-fuji__text {
	line-height: 20px;
	color: #C0C0C0;
}

.mount-fuji__icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px 40px 0;
}

.icon {}

.mount-fuji__icon {
	margin-right: 7px;
}

.mount-fuji__icon-text {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}

.mount-fuji__icon-text:not(:last-child){
	margin-right: 16px;
}

/* -------------------------------------------------------------TOOLS */

.tools {
	background: black url(../img/tools/tools.jpg) right no-repeat;
}

.tools-description {
	/*display: flex;*/
}

.tools__body {
	padding: 113px 0 85px 0;
	margin-left: -40px;
}

.tools__body-subtitle {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C0C0C0;
	margin-bottom: 6px;
}

.tools__body-title {
	font-size: 28px;
	line-height: 32px;
	color: #FFFFFF;
	margin-bottom: 14px;
}

.tools__body-text {
	width: 455px;
	font-size: 14px;
	line-height: 20px;
	color: #C0C0C0;
	margin-bottom: 20px;
}

.tools__icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px 40px 0;
}

.tools__icon {
	margin-right: 7px;
}

.tools__icon-text {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}

.tools__icon-text:not(:last-child) {
	margin-right: 16px;
}

/* -------------------------------------------------------------TOOLS */

.block__monstera-leafs {}

.monstera-leafs {
	background: url(../img/monstera-leafs/monstera-leafs.jpg) no-repeat center;
	background-size: cover;
}

.monstera-leafs__body {
	max-width: 300px;
	padding: 260px 20px 216px 0;
	margin-left: auto;
}

.monstera-leafs__title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.monstera-leafs__text {
	font-size: 14px;
	line-height: 20px;
	color: #C0C0C0;
}

.monstera-leafs__icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px 40px 0;
}

.icon {}

.monstera-leafs__icon {
	margin-right: 7px;
}

.monstera-leafs__icon-text {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}

.monstera-leafs__icon-text:not(:last-child) {
	margin-right: 16px;
}

/* -------------------------------------------------------------CLIENTS */


.past-clients {
	background-color: black;
}

.past-clients__body {}

.past-clients__title {
	font-size: 40px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 15px;
	padding-top: 113px;
}

.past-clients__text {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #C0C0C0;
	margin-bottom: 42px;
}

.past-clients__clients {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 46px 170px 46px;
	
}

/* -------------------------------------------------------------himalayas */

.himalayas {
	background: url(../img/Himalayas/Himalayas.jpg) no-repeat center;
		background-size: cover;
}

.himalayas__body {
	max-width: 300px;
	padding: 260px 20px 216px 0;
	margin-left: auto;
}

.himalayas__title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.himalayas__text {
	font-size: 14px;
	line-height: 20px;
	color: #C0C0C0;
}

.himalayas__icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 20px 40px 0;
}

.icon {}

.himalayas__icon {
	margin-right: 7px;
}

.himalayas__icon-text {
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}

.himalayas__icon-text:not(:last-child) {
	margin-right: 16px;
}

/* -------------------------------------------------------------HELP */

.block-help {}

.help {
	background: black;
}

.block-help__container {}

.help__body {
	padding: 120px 0 100px 0;
	width: 530px;
	margin: 0 auto;
}

.help__body-title {
	font-size: 40px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.help__body-subtitle {
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #C0C0C0;
	margin-bottom: 22px;
}

.help__body-button {
	margin: 0 auto;
}

.button {}

.help__body-button-circle {
	border-radius: 13px;
	background: black;
	width: 32px;
	height: 32px;
	margin: 5px;
	border: 1px solid #000000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.help__body-button-text {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.4px;
	color: #000000;
}


.footer {}